@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../public/clouds.jpg');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
